.container__mobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 180px 25px 25px 225px 130px;
      grid-template-rows: 180px 25px 25px 225px 130px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
  padding-top: 5.5rem;
  padding-bottom: 5rem;
}

.container__mobile__text-box1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.container__mobile__text-box1__h2 {
  padding-bottom: 4rem;
  font-size: 3.2rem;
  letter-spacing: 0;
}

.container__mobile__text-box1__p {
  padding: 0 2rem;
  font-size: 1.4rem;
}

.container__mobile__btn-box {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  z-index: 10;
}

.container__mobile__btn-box__btn {
  max-width: 210px;
}

.container__mobile__photo {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin: 0 1rem;
  height: 250px;
  background-image: url(/assets/img/doubt-mobile.webp);
  background-size: cover;
  background-position: center;
}

.container__mobile__text-box2 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 1.4rem;
}

.container__mobile__text-box2__p1 {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.container__desktop {
  display: none;
}

@media (min-width: 576px) {
  .container__mobile {
    -ms-grid-rows: 180px 25px 25px 325px 130px;
        grid-template-rows: 180px 25px 25px 325px 130px;
  }
  .container__mobile__text-box1__h2 {
    font-size: 3.6rem;
  }
  .container__mobile__photo {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .container__mobile {
    -ms-grid-rows: 170px 25px 25px 375px 130px;
        grid-template-rows: 170px 25px 25px 375px 130px;
  }
  .container__mobile__text-box1__h2 {
    font-size: 4rem;
  }
  .container__mobile__text-box1__p {
    font-size: 1.5rem;
  }
  .container__mobile__photo {
    height: 400px;
  }
  .container__mobile__text-box2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .container__mobile {
    display: none;
  }
  .container__desktop {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 40px 1px 40px 1fr;
        grid-template-columns: 1fr 40px 40px 1px 40px 1fr;
    -ms-grid-rows: 250px 50px 250px;
        grid-template-rows: 250px 50px 250px;
    padding: 9rem 0;
  }
  .container__desktop__photo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    margin-left: 1rem;
    background-image: url(/assets/img/doubt-desktop.webp);
    background-size: cover;
    background-position: 90% 50%;
  }
  .container__desktop__line {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    margin: auto 0;
    width: 1px;
    height: 450px;
    background-color: #333;
  }
  .container__desktop__text-box1 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: 3.6rem;
  }
  .container__desktop__text-box1__h2 {
    padding-bottom: 4.5rem;
    font-size: 4.4rem;
    font-weight: 700;
  }
  .container__desktop__text-box1__p {
    padding-right: 10rem;
  }
  .container__desktop__text-box2 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6/7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: auto;
    margin-bottom: 4.6rem;
    padding-right: 6rem;
  }
  .container__desktop__text-box2__p2 {
    padding-top: 3rem;
  }
  .container__desktop__btn {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 210px;
  }
}

@media (min-width: 1200px) {
  .container__desktop {
    -ms-grid-columns: 1fr 50px 50px 1px 50px 1fr;
        grid-template-columns: 1fr 50px 50px 1px 50px 1fr;
    -ms-grid-rows: 300px 50px 300px;
        grid-template-rows: 300px 50px 300px;
    padding: 12.5rem 0;
  }
  .container__desktop__photo {
    margin-left: 0;
  }
  .container__desktop__line {
    height: 500px;
  }
  .container__desktop__text-box1 {
    margin-top: 6rem;
  }
  .container__desktop__text-box1__h2 {
    padding-bottom: 6rem;
    font-size: 4.8rem;
  }
  .container__desktop__text-box2 {
    margin-bottom: 7.5rem;
  }
  .container__desktop__text-box2__p2 {
    padding-top: 4rem;
  }
}
/*# sourceMappingURL=doubt.component.css.map */