.container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__first-img {
  padding: 1rem 1rem 0;
  height: 250px;
}

.container__second-img {
  padding: 1rem;
  height: 500px;
}

.container__title {
  padding: 1rem;
  font-size: 4.4rem;
  text-align: center;
}

.container__about-me {
  text-align: center;
}

.container__about-me__name {
  padding-top: 2.5rem;
  font-size: 3.2rem;
  font-weight: 700;
}

.container__about-me__who-i-am {
  padding-bottom: 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.container__about-me__description {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.2rem;
  font-size: 1.4rem;
  text-align: justify;
}

.container__about-me__description:nth-child(7) {
  padding-bottom: 0;
}

.container__about-me__btn {
  margin-top: 3rem;
  margin-bottom: 6.5rem;
}

@media (min-width: 375px) {
  .container__title {
    font-size: 4.8rem;
  }
}

@media (min-width: 576px) {
  .container__first-img {
    height: 400px;
  }
  .container__second-img {
    height: 600px;
  }
  .container__title {
    font-size: 5.2rem;
  }
  .container__about-me {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .container__about-me__name {
    font-size: 3.6rem;
  }
  .container__about-me__who-i-am {
    padding-bottom: 3rem;
  }
  .container__about-me__btn {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .container__second-img {
    height: 660px;
  }
  .container__title {
    font-size: 5.6rem;
  }
  .container__about-me__name {
    font-size: 4rem;
  }
  .container__about-me__who-i-am {
    padding-bottom: 4rem;
  }
  .container__about-me__btn {
    margin-top: 4rem;
  }
}

@media (min-width: 992px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container__first-img {
    padding: 0;
  }
  .container__second-img {
    padding: 0;
    height: 690px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .container__title {
    margin: auto 2rem;
    font-size: 6rem;
    text-align: left;
  }
  .container__about-me {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: auto 3rem;
  }
  .container__about-me__name {
    padding-top: 0;
    font-size: 4.4rem;
  }
  .container__about-me__who-i-am {
    padding-bottom: 4rem;
  }
  .container__about-me__description {
    font-size: 1.45rem;
  }
  .container__about-me__btn {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .container__first-img {
    height: 400px;
  }
  .container__second-img {
    height: 730px;
  }
  .container__title {
    margin-left: 4rem;
    font-size: 6.4rem;
  }
  .container__about-me {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .container__about-me__name {
    font-size: 4.8rem;
  }
  .container__about-me__who-i-am {
    font-size: 1.3rem;
  }
  .container__about-me__description {
    font-size: 1.5rem;
  }
  .container__about-me__btn {
    margin-top: 5rem;
  }
}
/*# sourceMappingURL=introduction.component.css.map */