<footer class="background">
  <div class="wrapper container">
    <div class="container__contact-box">
      <h3 class="container__contact-box__title">Kontakt</h3>
      <div class="container__contact-box__phone">
        <svg
          class="icon"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            d="M4.05 21q-.45 0-.75-.3t-.3-.75V15.9q0-.35.225-.613q.225-.262.575-.337l3.45-.7q.35-.05.713.062q.362.113.587.338L10.9 17q1.9-1.15 3.475-2.725Q15.95 12.7 17 10.9l-2.4-2.45q-.225-.225-.288-.513q-.062-.287-.012-.637l.65-3.5q.05-.35.325-.575Q15.55 3 15.9 3h4.05q.45 0 .75.3t.3.75q0 3.225-1.438 6.287q-1.437 3.063-3.8 5.425q-2.362 2.363-5.424 3.8Q7.275 21 4.05 21Z"
          />
        </svg>
        <a href="tel:575122002" class="container__contact-box__phone__text"
          >+48 575 122 002</a
        >
      </div>
      <div class="container__contact-box__e-mail">
        <svg
          class="icon"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10h5v-2h-5c-4.34 0-8-3.66-8-8s3.66-8 8-8s8 3.66 8 8v1.43c0 .79-.71 1.57-1.5 1.57s-1.5-.78-1.5-1.57V12c0-2.76-2.24-5-5-5s-5 2.24-5 5s2.24 5 5 5c1.38 0 2.64-.56 3.54-1.47c.65.89 1.77 1.47 2.96 1.47c1.97 0 3.5-1.6 3.5-3.57V12c0-5.52-4.48-10-10-10zm0 13c-1.66 0-3-1.34-3-3s1.34-3 3-3s3 1.34 3 3s-1.34 3-3 3z"
          />
        </svg>
        <a
          href="mailto:mkalicka24@gmail.com"
          class="container__contact-box__e-mail__text"
        >
          mkalicka24@gmail.com
        </a>
      </div>
    </div>
    <div class="container__social-box">
      <h3 class="container__social-box__title">Social Media</h3>
      <a
        class="container__social-box__fb"
        href="https://www.facebook.com/Monika.Kalicka.Fotograf"
      >
        <svg
          class="icon"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z"
          />
        </svg>
        <p class="container__social-box__fb__text">
          Odwiedź mnie na facebooku aby być na bieżąco
        </p>
      </a>
      <a
        class="container__social-box__inst"
        href="https://www.instagram.com/mkalickafoto/"
      >
        <svg
          class="icon"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"
          />
        </svg>
        <p class="container__social-box__inst__text">
          Odwiedź mojego instagrama
        </p>
      </a>
    </div>
    <div class="container__logo-box">
      <div class="container__logo-box__logo">
        <img src="/assets/img/logo-white.svg" alt="MK logo Fotografia Ślubna" />
      </div>
      <div class="container__logo-box__copyright">
        {{ getDate() | date : "yyyy" }} {{ footer }}
      </div>
    </div>
  </div>
</footer>
