.background {
  background-color: #333;
  color: #fff;
}

.container {
  padding: 5rem 4rem;

  .icon {
    min-width: 3.6rem;
    height: 3.6rem;
    fill: #fff;
  }
  &__contact-box {
    padding-bottom: 6rem;
    font-size: 1.5rem;
    &__title {
      padding-bottom: 2rem;
      font-size: 2rem;
    }
    &__phone {
      display: flex;
      align-items: center;
      padding-bottom: 3rem;
      cursor: pointer;
      &__icon {
        color: #fff;
        transition: color 0.3s;
      }
      &__text {
        padding-left: 3rem;
        padding-bottom: 0.3rem;
        text-decoration: none;
        color: rgb(232, 232, 232);
        transition: color 0.3s;
      }
      &:hover &__text,
      &:hover &__icon {
        color: rgb(162, 162, 162);
      }
    }
    &__e-mail {
      display: flex;
      align-items: center;
      cursor: pointer;
      &__icon {
        color: #fff;
        transition: color 0.3s;
      }
      &__text {
        padding-left: 3rem;
        padding-bottom: 0.3rem;
        text-decoration: none;
        color: rgb(232, 232, 232);
        transition: color 0.3s;
      }
      &:hover &__text,
      &:hover &__icon {
        color: rgb(162, 162, 162);
      }
    }
  }
  &__social-box {
    padding-bottom: 6rem;
    font-size: 1.5rem;
    &__title {
      padding-bottom: 2rem;
      font-size: 2rem;
    }
    &__fb {
      display: flex;
      align-items: center;
      padding-bottom: 3rem;
      text-decoration: none;
      cursor: pointer;
      transition: color 0.3s;
      &__icon {
        color: #fff;
        transition: color 0.3s;
      }
      &__text {
        padding-left: 3rem;
        padding-bottom: 0.3rem;
        color: rgb(232, 232, 232);
      }
      &:hover &__text,
      &:hover &__icon {
        color: rgb(162, 162, 162);
      }
    }

    &__inst {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      transition: color 0.3s;
      &__icon {
        color: #fff;
        transition: color 0.3s;
      }
      &__text {
        padding-left: 3rem;
        padding-bottom: 0.3rem;
        color: rgb(232, 232, 232);
      }
      &:hover &__text,
      &:hover &__icon {
        color: rgb(162, 162, 162);
      }
    }
  }

  &__logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo {
      padding-bottom: 1rem;
      width: 120px;
    }
    &__copyright {
      text-align: center;
      color: #9c9c9c;
    }
  }
}

@media (min-width: 576px) {
  .container {
    padding: 5rem 8rem;
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 4rem;
    &__contact-box {
      padding: 0 3rem;
      width: 50%;
    }
    &__social-box {
      padding: 0 3rem;
      width: 50%;
    }
    &__logo-box {
      padding-top: 8rem;
      width: 100vw;
    }
  }
}

@media (min-width: 992px) {
  .container {
    padding: 8rem 0;
    &__contact-box {
      padding: 0 2rem;
      order: 3;
      width: 33.3%;
      &__title {
        font-size: 2.2rem;
      }
    }
    &__social-box {
      padding: 0 2rem;
      order: 2;
      width: 33.3%;
      &__title {
        font-size: 2.2rem;
      }
    }
    &__logo-box {
      order: 1;
      margin: auto;
      padding-top: 0;
      width: 33.3%;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 10rem 0;
    &__contact-box {
      padding: 0 3rem;
      &__title {
        font-size: 2.4rem;
      }
    }
    &__social-box {
      padding: 0 3rem;
      &__title {
        font-size: 2.48rem;
      }
    }
  }
}
