<app-cookies-popup></app-cookies-popup>
<app-slider></app-slider>
<app-introduction></app-introduction>
<app-info></app-info>
<app-special-photo></app-special-photo>
<app-title>Oferta</app-title>
<app-offer></app-offer>
<app-blog [homePage]="true"></app-blog>
<app-doubt></app-doubt>
<div class="banner wrapper">
    <a href="https://www.weselezklasa.pl/ogloszenia-weselne/magia-chwili-fotografia-fotograf-slubny,55732/" target="_blank" title="Magia Chwili Fotografia">
        <div class="photo" title="Magia Chwili Fotografia"></div> 
    </a>

</div>
