@import "variables";

.contact {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  &__img {
    margin-top: 1rem;
    max-width: 100%;
    height: 200px;
    background-image: url(/assets/img/contact.jpg);
    background-size: cover;
    background-position: center;
  }
  &__text-box {
    text-align: center;
    overflow-wrap: break-word;
    .icon {
      width: 3.6rem;
      height: 3.6rem;
      path {
        fill: #333;
      }
    }
    &__title {
      display: none;
    }
    &__paragraph {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.6rem;
      color: #727171;
    }
    &__phone,
    &__e-mail,
    &__address,
    &__fb {
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-bottom: 2px solid #d2d1d1;
      p {
        color: #727171;
      }
    }
  }
}

@media (min-width: 375px) {
  .contact {
    &__img {
      height: 230px;
    }
  }
}

@media (min-width: 576px) {
  .contact {
    &__img {
      margin-top: 2rem;
      height: 300px;
    }
  }
}

@media (min-width: 768px) {
  .contact {
    &__img {
      margin-top: 3rem;
      height: 450px;
    }
  }
}

@media (min-width: 992px) {
  .contact {
    display: flex;
    flex-direction: row;
    padding-top: 15rem;
    padding-bottom: 9rem;
    app-title {
      display: none;
    }
    &__img {
      margin-top: 0;
      width: 45%;
      height: 400px;
    }
    &__line {
      width: 2px;
      height: 400px;
      margin-left: 7rem;
      margin-right: 7rem;
      background-color: #333;
    }
    &__text-box {
      text-align: left;
      &__title {
        display: inline-block;
        font-family: $handWritingFont;
        font-size: 4.8rem;
      }
      &__paragraph {
        padding-top: 0;
        padding-bottom: 4rem;
        font-size: 1.8rem;
        color: #727171;
      }
      &__phone,
      &__e-mail,
      &__address,
      &__fb {
        display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: none;
        p {
          padding-left: 3rem;
          line-height: 3.6rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .contact {
    &__img {
      height: 450px;
    }
    &__line {
      height: 450px;
    }
    &__text-box {
      &__title {
        font-size: 5.2rem;
      }
      &__paragraph {
        padding-top: 0;
        padding-bottom: 5rem;
      }
      &__phone,
      &__e-mail,
      &__address,
      &__fb {
        display: flex;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: none;
        p {
          padding-left: 3rem;
          line-height: 3.6rem;
        }
      }
    }
  }
}
