<div class="container wrapper">
  <div class="mobile">
    <div class="text-box1">
      <h2 class="h2">Masz wątpliwości?</h2>
      <p class="p">
        Odpowiedzi na najczęściej zadawne pytania znajdziesz w zakładce
        <b>WARTO WIEDZIEĆ</b>.
      </p>
    </div>
    <div class="btn-box">
      <button class="btn-reset btn-black btn">WARTO WIEDZIEĆ</button>
    </div>

    <div class="photo"></div>
    <div class="text-box2">
      <p class="p1">
        Możecie też napisać do mnie wiadomość prywatną, w której odpowiem na
        Wszystkie Wasze pytania.
      </p>
      <p class="p2">Zawsze odpowiadam w ciągu 24 godzin.</p>
    </div>
  </div>

  <div class="desktop">
    <div class="photo">
      <div class="img"></div>
    </div>
    <div class="line"></div>
    <div class="text-box1">
      <h2 class="h2">Masz wątpliwości?</h2>
      <p class="p">
        Odpowiedzi na najczęściej zadawne pytania znajdziesz w zakładce
        <b>WARTO WIEDZIEĆ</b>.
      </p>
    </div>
    <button class="btn btn-black btn-reset">WARTO WIEDZIEĆ</button>
    <div class="text-box2">
      <p class="p1">
        Możecie też napisać do mnie wiadomość prywatną, w której odpowiem na
        Wszystkie Wasze pytania.
      </p>
      <p class="p2">Zawsze odpowiadam w ciągu 24 godzin.</p>
    </div>
  </div>
</div>
