<div class="container wrapper">
  <div class="container__mobile">
    <div class="container__mobile__text-box1">
      <h2 class="container__mobile__text-box1__h2">Masz wątpliwości?</h2>
      <p class="container__mobile__text-box1__p">
        Odpowiedzi na najczęściej zadawne pytania znajdziesz w zakładce
        <b>WARTO WIEDZIEĆ</b>.
      </p>
    </div>
    <div class="container__mobile__btn-box">
      <button class="btn-reset btn-black container__mobile__btn-box__btn">
        WARTO WIEDZIEĆ
      </button>
    </div>

    <div class="container__mobile__photo"></div>
    <div class="container__mobile__text-box2">
      <p class="container__mobile__text-box2__p1">
        Możecie też napisać do mnie wiadomość prywatną, w której odpowiem na
        Wszystkie Wasze pytania.
      </p>
      <p class="container__mobile__text-box2__p2">
        Zawsze odpowiadam w ciągu 24 godzin.
      </p>
    </div>
  </div>

  <div class="container__desktop">
    <div class="container__desktop__photo">
      <div class="container__desktop__photo__img"></div>
    </div>
    <div class="container__desktop__line"></div>
    <div class="container__desktop__text-box1">
      <h2 class="container__desktop__text-box1__h2">Masz wątpliwości?</h2>
      <p class="container__desktop__text-box1__p">
        Odpowiedzi na najczęściej zadawne pytania znajdziesz w zakładce
        <b>WARTO WIEDZIEĆ</b>.
      </p>
    </div>
    <button class="container__desktop__btn btn-black btn-reset">
      WARTO WIEDZIEĆ
    </button>
    <div class="container__desktop__text-box2">
      <p class="container__desktop__text-box2__p1">
        Możecie też napisać do mnie wiadomość prywatną, w której odpowiem na
        Wszystkie Wasze pytania.
      </p>
      <p class="container__desktop__text-box2__p2">
        Zawsze odpowiadam w ciągu 24 godzin.
      </p>
    </div>
  </div>
</div>
