<section class="wrapper container">
  <img
    src="assets/img/314662097_819203529203010_8888823379869370753_n.jpg"
    alt="
  Splecione dłonie pary młodej trzymające bukiet kwiatów."
    class="container__first-img"
  />
  <div class="container__title">
    <p>
      OPOWIEDZMY <br />
      RAZEM <br />
      WASZĄ <br />
      HISTORIĘ
    </p>
  </div>
  <img
    src="assets/img/hisu-lee-OQFL4qvuaec-unsplash.jpg"
    alt="Kobieca dłoń trzymająca aparat na tle kwiatów."
    class="container__second-img"
  />
  <div class="container__about-me">
    <h2 class="container__about-me__name">Jestem Monika</h2>
    <p class="container__about-me__who-i-am">OSOBA ZA OBIEKTYWEM</p>
    <p class="container__about-me__description">
      <b>Światło</b>, <b>emocje</b> i <b>natura</b> to najważniejsze elementy,
      składające się na historie, które opowiadam. Fotografuję emocje, nie
      reżyserowane sytuacje, pomagam Wam wydobyć to co Was <b>najlepsze</b> i
      przekazać to Wam na zdjęciach. Tworzę przestrzeń w któej każdy może poczuć
      się <b>komfortowo</b> i swobodnie.
    </p>
    <p class="container__about-me__description">
      Mój styl fotograficzny cechuje się dużą <b>natualnością</b>. Stawiam na
      <b>szczerość uczuć</b> i swobodę, tak aby zdjęcia były jak najbardziej
      <b>autentyczne</b>.
    </p>
    <p class="container__about-me__description">
      <b>Fotografia jest moją pasją</b>, która z biegiem lat przerodziła się w
      pełnoeatowy zawód. Chociaż osobiście nie czuję, że to moja praca, to co
      robię sprawia mi radość.
    </p>
    <p class="container__about-me__description">
      Jeżeli szukacie <b>profesjonalnej</b> oprawy
      <b>najpiękniejszych chwil</b> ze swojego życia, jesteście w dobrym
      miejscu. Stworzę dla Ciebie wyjątkową pamiątkę do której będziesz wracać
      przez długie lata.
    </p>
    <p class="container__about-me__description">
      Każde zdjęcie robię tak aby móc się pod nim dumnie podpisać.
    </p>

    <button class="container__about-me__btn btn-reset btn-black">
      OBEJRZYJ PORTFOLIO
    </button>
  </div>
</section>
