.container {
  display: grid;
  grid-template-columns: 1fr;
  img {
    width: 100%;
    object-fit: cover;
  }
  &__first-img {
    padding-top: 1rem;
    height: 250px;
  }
  &__second-img {
    height: 500px;
  }
  &__title {
    padding: 1rem;
    font-size: 4.8rem;
    text-align: center;
  }
  &__about-me {
    text-align: center;
    &__name {
      padding-top: 2.5rem;
      font-size: 3.2rem;
      font-weight: 700;
    }
    &__who-i-am {
      padding-bottom: 2.5rem;
      font-size: 1.2rem;
      font-weight: 700;
    }
    &__description {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 1.2rem;
      font-size: 1.4rem;
      text-align: justify;
      &:nth-child(7) {
        padding-bottom: 0;
      }
    }
    &__btn {
      margin-top: 3rem;
      margin-bottom: 6.5rem;
    }
  }
}

@media (min-width: 576px) {
  .container {
    &__first-img {
      height: 400px;
    }
    &__second-img {
      height: 600px;
    }
    &__title {
      font-size: 5.2rem;
    }
    &__about-me {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      &__name {
        font-size: 3.6rem;
      }
      &__who-i-am {
        padding-bottom: 3rem;
      }
      &__btn {
        margin-top: 3rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    &__second-img {
      height: 660px;
    }
    &__title {
      font-size: 5.6rem;
    }
    &__about-me {
      &__name {
        font-size: 4rem;
      }
      &__who-i-am {
        padding-bottom: 4rem;
      }
      &__btn {
        margin-top: 4rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__first-img {
      padding-top: 0;
    }
    &__second-img {
      height: 690px;
      grid-column: 2/3;
    }
    &__title {
      margin: auto 2rem;
      font-size: 6rem;
      text-align: left;
    }
    &__about-me {
      grid-column: 1/2;
      grid-row: 2/3;

      margin: auto 3rem;
      &__name {
        padding-top: 0;
        font-size: 4.4rem;
      }
      &__who-i-am {
        padding-bottom: 4rem;
      }
      &__description {
        font-size: 1.45rem;
      }
      &__btn {
        margin-top: 2rem;
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    &__first-img {
      height: 400px;
    }
    &__second-img {
      height: 730px;
    }
    &__title {
      margin-left: 4rem;
      font-size: 6.4rem;
    }
    &__about-me {
      margin-left: 4rem;
      margin-right: 4rem;
      &__name {
        font-size: 4.8rem;
      }
      &__who-i-am {
        font-size: 1.3rem;
      }
      &__description {
        font-size: 1.5rem;
      }
      &__btn {
        margin-top: 5rem;
      }
    }
  }
}
