<section class="container wrapper">
  <div
    title="
  Splecione dłonie pary młodej trzymające bukiet kwiatów."
    class="first-img"
  >
    <div class="img"></div>
  </div>
  <div class="title">
    <p>
      Opowiedzmy razem <br />
      Waszą historię...
    </p>
  </div>
  <div
    title="Kobieca dłoń trzymająca aparat
  na tle kwiatów."
    class="second-img"
  >
    <div class="img"></div>
  </div>
  <div class="about-me">
    <p class="name">Jestem Monika</p>
    <p class="who-i-am">OSOBA ZA OBIEKTYWEM</p>
    <p class="description">
      <b>Światło</b> i <b>emocje</b> to najważniejsze elementy, składające się
      na historie, które opowiadam. Fotografuję emocje, nie wyreżyserowane
      sytuacje, pomagam Wam wydobyć to co Was <b>najlepsze</b> i przekazać to na
      zdjęciach. Tworzę przestrzeń w której każdy może poczuć się
      <b>komfortowo</b> i swobodnie.
    </p>
    <p class="description">
      Mój styl fotograficzny cechuje się dużą <b>natualnością</b>. Stawiam na
      <b>szczerość uczuć</b> i swobodę, tak aby zdjęcia były jak najbardziej
      <b>autentyczne</b>.
    </p>
    <p class="description">
      <b>Fotografia jest moją pasją</b>, która z biegiem lat przerodziła się w
      pełnoeatowy zawód. Chociaż osobiście nie czuję, że to moja praca, to co
      robię sprawia mi radość.
    </p>
    <p class="description">
      Jeżeli szukacie <b>profesjonalnej</b> oprawy
      <b>najpiękniejszych chwil</b> ze swojego życia, jesteście w dobrym
      miejscu. Stworzę dla Ciebie wyjątkową pamiątkę do której będziesz wracać
      przez długie lata.
    </p>
    <p class="description">
      Każde zdjęcie robię tak aby móc się pod nim dumnie podpisać.
    </p>
    <button class="btn btn-reset btn-black" routerLink="/portfolio">
      OBEJRZYJ PORTFOLIO
    </button>
  </div>
</section>
