<section class="slideshow-container">
  <div class="slides">
    <div
      class="slide"
      *ngFor="let photo of sliderPhotos; let first = first"
      [ngStyle]="photo.photoStyle"
    >
      <div class="photo-box">
        <div
          class="image"
          [style.background-image]="'url(' + photo.image + ')'"
          title="{{ photo.alternativeText }}"
        ></div>
        <div
          class="overlay"
        ></div>
      </div>
      <div class="bottom-box wrapper">
        <div
          class="text-box"
          [ngStyle]="photo.textStyle"
        >
          <h1>{{ photo.title }}</h1>
          <p>
            {{ photo.subtitle }}
          </p>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <app-change-item
      [lastItemIndex]="numberOfPhotos"
      (changeItem)="changePhoto($event)"
      [align]="'right'"
      [delay]="4500"
    ></app-change-item>
  </div>
</section>
