.photo {
  position: relative;
  height: 550px;
  width: 100vw;
  background-image: url(/assets/img/specialphoto.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  &__label {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 0;
    width: 100vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(7.5px);
    &__text {
      padding: 0 1rem 0.5em;
      font-size: 2.4rem;
      color: #fff;
    }
  }
}

@media (min-width: 576px) {
    .photo {
        &__label {
            &__text {
                font-size: 2.7rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .photo {
        &__label {
            padding: 2.5rem 0;
            &__text {
                font-size: 3rem;
            }
        }
    }
}

@media (min-width: 992px) {
    .photo {
        &__label {
            &__text {
                font-size: 3.3rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    .photo {
        &__label {
            padding: 3rem 0;
            &__text {
                font-size: 3.6rem;
            }
        }
    }
}