<li [ngClass]="{ last: mainCategory.last }">
  <div
    *ngIf="hasSubcategories == false; else subcategories"
    class="{{ currentStyle }}"
  >
    <a
      class="category"
      routerLink="{{ mainCategory.path }}"
      (click)="emitRouteEvent()"
      >{{ mainCategory.displayName }}
    </a>
  </div>
  <ng-template #subcategories>
    <a
      class="{{ currentStyle }} category"
      (click)="toggleClickSubcategories()"
      (mouseleave)="removeClick()"
      >{{ mainCategory.displayName }}

      <svg
        *ngIf="hasSubcategories"
        class="svg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
      >
        <path
          d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
        />
      </svg>
    </a>
  </ng-template>

  <ul class="subcategory hidden" *ngIf="hasSubcategories">
    <li *ngFor="let subCategory of mainCategory.subCategories">
      <a
        class="subcategory__item"
        routerLink="{{ subCategory.path }}"
        (click)="emitRouteEvent()"
        >{{ subCategory.displayName }}</a
      >
    </li>
  </ul>
</li>
