.clicked-subcategory {
  color: #333 !important;
  background-color: #fff !important;
  fill: #333 !important;
  .svg > path {
    fill: #333 !important;
  }
}

.hidden {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.clicked {
  height: 100%;
  visibility: visible;
  opacity: 1;
}

li {
  max-width: 100vw;
  text-align: left;
  list-style: none outside none;
  text-transform: uppercase;
  font-weight: 700;

  .category {
    display: inline-block;
    padding-top: 1.2rem;
    padding-left: 2rem;
    padding-bottom: 1.2rem;
    width: 100%;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #fff;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
    .svg {
      width: 20px;
      height: 14px;
      path {
        fill: #fff;
        transition: fill 0.3s;
      }
    }
    &:hover {
      color: #333;
      background-color: #fff;
    }
    &:hover > .svg > path {
      fill: #333;
    }
  }
  .subcategory {
    .item {
      display: inline-block;
      padding-top: 1.2rem;
      padding-left: 3rem;
      padding-bottom: 1.2rem;
      width: 100%;
      color: #fff;
      text-decoration: none;
      background-color: rgb(133, 133, 133);
      border-bottom: 1px solid #fff;
      transition: color 0.3s, background-color 0.3s;
      &:hover {
        color: #333;
        background-color: rgb(255, 255, 255);
      }
    }
  }
}

.toggle {
  display: none;
}

@media (min-width: 992px) {
  li {
    .category ~ .subcategory {
      position: absolute;
    }
    &.last {
      a {
        background-color: #fff;
        color: #333;
        &:hover {
          border: 2px solid #fff;
          color: #fff;
          background-color: rgba(255, 255, 255, 0.15);
        }
      }
    }
    .category {
      padding: 1.5rem 3rem;
      text-decoration: none;
      color: #fff;
      border-bottom: none;
      border: 2px solid transparent;
      transition: border 0.3s, background-color 0.3s;
      .svg {
        & path {
          fill: #fff;
        }
      }
      &:hover {
        border: 2px solid #fff;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.15);
      }
      &:hover > .svg > path {
        fill: rgb(255, 255, 255);
      }
    }

    .subcategory {
      transition: visibility 0s, opacity 0.3s linear;
      .item {
        padding-top: 1.4rem;
        padding-left: 2rem;
        padding-bottom: 1.4rem;
        padding-right: 2rem;
        color: #fff;
        background-color: rgba(41, 41, 41);
        text-decoration: none;
        border-bottom: none;
        border: 2px solid transparent;
        transition: color 0.3s, border 0.3s, background-color 0.3s;
        &:hover {
          border: 2px solid #fff;
          color: #fff;
          background-color: rgba(107, 107, 107);
        }
      }
    }
    .category:hover ~ .subcategory,
    .subcategory:hover {
      visibility: visible;
      opacity: 1;
      height: 100%;
    }

    .category:has(~ .subcategory:hover) {
      border: 2px solid #fff;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.15);
      .svg > path {
        fill: rgb(255, 255, 255);
      }
    }
  }
  .black li {
    &.last {
      a {
        background-color: #333;
        color: #fff;
        &:hover {
          border: 2px solid #7e7e7e;
          background-color: #fff;
          color: #7e7e7e;
        }
      }
    }
    .category {
      color: #333;
      .svg {
        & path {
          fill: #333;
        }
      }

      &:hover {
        color: #7e7e7e;
        border: 2px solid #7e7e7e;
      }
      &:hover > .svg > path {
        fill: #7e7e7e;
      }
    }

    .subcategory {
      .item {
        color: #333f;
        background-color: #fff;
        &:hover {
          color: #7e7e7e;
          background-color: rgb(255, 255, 255);
          border: 2px solid #7e7e7e;
        }
      }
    }

    .category:has(~ .subcategory:hover) {
      color: #7e7e7e;
      border: 2px solid #7e7e7e;
      .svg > path {
        fill: #7e7e7e;
      }
    }
  }
}
