<div class="container">
    <img class="logo" src="/assets/img/logomch.svg"
    alt="MK logo Fotografia Ślubna" routerLink="/" >
   <div class="nav-box">
    <div class="btn-main">
        <button class="btn-reset" routerLink="/admin/blog-list" >Blog</button>
        <button class="btn-reset" routerLink="/admin/slider-list">Slajder</button>
        <button class="btn-reset" routerLink="/admin/offer-home-page-list">Oferta - Strona Główna</button>
        <button class="btn-reset" routerLink="/admin/full-offer-list">Oferta - Pełna oferta</button>
        <button class="btn-reset" routerLink="/admin/portfolio-main">Portfolio</button>
        <button class="btn-reset" routerLink="/admin/gallery-list">Galeria</button>
    </div>
    <button class="btn-reset log-out" (click)="logout()">Wyloguj</button>
   </div>

</div>