<section class="offer-box">
  <div class="nav wrapper">
    <button
      class="button btn-reset"
      *ngFor="let offer of offers"
      (click)="activateTab(offer)"
    >
      {{ offer.title }}
    </button>
  </div>

  <div class="background visible" 
  [ngStyle]="currentPhoto"
  >
    <div class="overlay">
      <div
        class="offers wrapper"
        (mousedown)="mouseDown($event)"
        (mouseup)="mouseUp()"
        (mousemove)="mouseMove($event)"
        (mouseleave)="mouseUp()"
      >
        <div
          class="offer"
          *ngFor="let offer of offers"
          [ngClass]="{ visible: offer.visible }"
        >
          <div
            class="img"
            [style.background-image]="'url(' + offer.image + ')'"
          ></div>
          <div
            class="text-box non-selectable"
          >
            <div
              class="title"
            >
              {{ offer.title }}
            </div>
            <div
              class="paragraph"
            >
              {{ offer.paragraphMobile }}
            </div>
            <div
              class="paragraph-desktop" *ngFor = "let paragraph of offer.paragraphDesktop"
            >
              {{ paragraph }}
            </div>
            <button
              class="btn btn-reset btn-black" routerLink="{{ offer.buttonURL }}"
            >
              SPRAWDŹ OFERTĘ
            </button>
            <button
              class="btn-long btn-reset btn-black" routerLink="{{ offer.buttonURL }}"
            >
              SPRAWDŹ OFERTĘ {{ offer.buttonText }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
