<div class="container">
  <div class="center">
    <h1>Przypomnij hasło</h1>
    <form *ngIf="angForm !== null" [formGroup]="angForm" novalidate>
      <div class="form-group">
        <input
          class="form-control"
          formControlName="login"
          type="text"
          required
        />
        <span></span>
        <label>Login</label>
      </div>
      <div
        *ngIf="
          angForm.controls['login'].invalid &&
          (angForm.controls['login'].dirty || angForm.controls['login'].touched)
        "
        class="alert alert-danger"
      >
        <div
          *ngIf="
            angForm.controls['login'].errors !== null &&
            angForm.controls['login'].errors['required']
          "
        >
          <p style="color: tomato">Login jest wymagany.</p>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-reset btn-black"
        (click)="sendResetRequest()"
      >
        WYŚLIJ LINK
      </button>
    </form>
  </div>
  <br />
</div>
