<section class="wrapper p-n-f">
  <h1 class="title">404</h1>
  <p class="p">
    <b>Ups!<br />Nie udało się znaleźć tej strony! </b>
  </p>
  <div class="box">
    <div class="img"></div>
    <div class="text-box">
      <h2 class="subtitle">Jak naprawić błąd 404?</h2>
      <div class="n-p">
        <div class="circle"><p>1</p></div>
        <p class="paragraph">Odśwież stronę www.</p>
      </div>
      <div class="n-p">
        <div class="circle"><p>2</p></div>
        <p class="paragraph">Sprawdź czy poprawnie wpisałaś/eś adres URL.</p>
      </div>
      <div class="n-p">
        <div class="circle"><p>3</p></div>
        <p class="paragraph">
          Wyczyść ciasteczka (cookies) oraz pliki pamięci podręcznej (cache).
        </p>
      </div>
      <div class="n-p">
        <div class="circle"><p>4</p></div>
        <p class="paragraph">Przeskanuj komputer programem antywirusowym.</p>
      </div>
      <div class="n-p">
        <div class="circle"><p>5</p></div>
        <p class="paragraph">
          Spróbuj przejść na daną podstronę poprzez stronę główną.
        </p>
      </div>
    </div>
  </div>
</section>
