<div class="overlay">
    <form class="box" *ngIf="angForm !== null" [formGroup]="angForm" novalidate (ngSubmit)="addGallery()">
      <h2>Dodawanie galerii</h2>
      
      <div class="form-group">
        <label>Tytuł</label>
        <input class="form-control" formControlName="displayName" type="text" />
        <span></span>
      </div>
      <div
        *ngIf="
          angForm.controls['displayName'].invalid &&
          (angForm.controls['displayName'].dirty ||
            angForm.controls['displayName'].touched)
        "
        class="alert alert-danger"
      >
        <div
          *ngIf="
            angForm.controls['displayName'].errors !== null &&
            angForm.controls['displayName'].errors['required']
          "
        >
          <p style="color: tomato">Tytuł jest wymagany.</p>
        </div>
      </div>



      <div class="button-box">
        <button class="btn-reset btn-black cancel" (click)="emitClose(false, null)">
          Anuluj
        </button>
        <button type="submit"
        [disabled]="angForm.pristine || angForm.invalid"
        class="btn btn-reset btn-black"
         class="btn-reset btn-black delate">
          Dodaj
        </button>
      </div>
    </form>
  </div>
  