<div class="container">
  <h1>Slajder / Edycja</h1>

  <div class="add-post-box">
    <div class="form-box">
      <form
        *ngIf="angForm !== null"
        [formGroup]="angForm"
        enctype="multipart/form-data"
        novalidate
        (ngSubmit)="saveSliderPhoto()"
      >
        <div class="btn-box">
          <button
            type="submit"
            [disabled]="
              angForm.pristine || angForm.invalid || requestInProgress
            "
            class="btn btn-reset btn-black"
          >
            Zapisz zmiany
          </button>
        </div>
        <div class="form-container">
          <h2>Edycja slajdu</h2>
          <div class="container-left">
            <div class="form-group">
              <label>Kolejność</label>
              <input
                class="form-control"
                type="number"
                value="{{ photoModel?.order }}"
                disabled
              />
            </div>

            <div class="form-group">
              <label>Tytuł</label>
              <input
                class="form-control"
                type="text"
                value="{{ photoModel?.title }}"
                disabled
              />
            </div>
          </div>

          <div class="container-right">
            <div class="form-group">
              <label>Zdjęcie</label>
              <input
                accept=".jpg; .jpeg"
                class="form-control upload"
                formControlName="photo"
                type="file"
                (change)="loadFileToPreview($event)"
                required
              />
              <span></span>
            </div>
            <div
              *ngIf="
                angForm.controls['photo'].invalid &&
                (angForm.controls['photo'].dirty ||
                  angForm.controls['photo'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  angForm.controls['photo'].errors !== null &&
                  angForm.controls['photo'].errors['required']
                "
              >
                <p style="color: tomato">Główne zdjęcie jest wymagane.</p>
              </div>
            </div>

            <div class="form-group">
              <label>Opis zdjęcia</label>
              <input
                class="form-control"
                formControlName="alternativeText"
                type="text"
                required
              />
              <span></span>
            </div>
            <div
              *ngIf="
                angForm.controls['alternativeText'].invalid &&
                (angForm.controls['alternativeText'].dirty ||
                  angForm.controls['alternativeText'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  angForm.controls['alternativeText'].errors !== null &&
                  angForm.controls['alternativeText'].errors['required']
                "
              >
                <p style="color: tomato">Opis zdjęcia jest wymagany.</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="preview" *ngIf="photoModel !== null">
      <h2 class="main-label">Podgląd</h2>

      <div class="preview-box">
        <div class="preview-box-photo">
          <label>Główne zdjęcie</label>
          <div class="photo-box">
            <div class="photo" [style.background-image]="imgSrc">
              <div class="overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
