@import "variables";

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Alata";
  src: url(#{$assets}/fonts/Alata/Alata-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "DancingScript";
  src: url(#{$assets}/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf)
    format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // font-size 10px
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: $basicFont, $fallbackFont;
  color: #333;
  letter-spacing: 1px;
  background-color: rgb(255, 255, 255);
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1400px;
}

.noscroll {
  overflow: hidden;
}

.btn-reset {
  border: 2px solid transparent;
  font: inherit;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0);
}

.btn-black {
  height: 50px;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: white;
  background-color: #333;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  &:hover {
    color: #333;
    background-color: rgb(255, 255, 255);
    border: 2px solid #333;
  }
  &:active {
    background-color: rgb(255, 255, 255);
  }
}

.non-selectable {
  user-select: none;
}

//do usunięcia
@media (min-width: 768px) {
  .black-btn {
    height: 55px;
  }
}

@media (min-width: 1200px) {
  .black-btn {
    height: 60px;
    font-size: 1.6rem;
    background-color: rgb(185, 49, 49) !important;
  }
}
