<!-- <nav class="sticky bgc"> -->
<nav class="{{ currentStyle }}">
  <div
    #navbar
    class="sticky visible"
    id="navbar"
    [ngClass]="shouldShowNavBackground() ? 'bgc' : 'transparent'"
  >
    <div #navbar class="navbar">
      <div class="navbar__nav-box">
        <input
          #checkbox
          class="navbar__nav-box__checkbox has-checked"
          type="checkbox"
          (click)="toggleScroll()"
        />
        <div class="navbar__nav-box__hamburger-lines">
          <span class="navbar__nav-box__hamburger-lines__line line1"></span>
          <span class="navbar__nav-box__hamburger-lines__line line2"></span>
          <span class="navbar__nav-box__hamburger-lines__line line3"></span>
        </div>
        <div class="navbar__nav-box__logo">
          <img
            src="/assets/img/logo-{{ currentStyle }}.svg"
            alt="MK logo Fotografia Ślubna"
          />
        </div>
        <div class="navbar__nav-box__menu-items">
          <app-nav-item
            *ngFor="let category of categories"
            [mainCategory]="category"
            (routeEvent)="restartCheckedState()"
          ></app-nav-item>
        </div>
      </div>
    </div>
  </div>
</nav>
