<!-- <nav class="sticky bgc"> -->
<nav *ngIf="currentStyle !== null" class="{{ currentStyle }}">
  <div
    #navbar
    class="fixed visible"
    id="navbar"
    [ngClass]="shouldShowNavBackground() ? 'bgc' : 'transparent'"
  >
    <div #navbar class="navbar">
      <div class="nav-box">
        <input
          #checkbox
          class="checkbox has-checked"
          type="checkbox"
          (click)="toggleScroll()"
        />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <div class="logo-mobile">
          <img
            src="/assets/img/logomch.svg"
            alt="MK logo Fotografia Ślubna"
          />
        </div>
        <div class="logo-desktop">
          <img
            src="/assets/img/logomch.svg"
            alt="MK logo Fotografia Ślubna"
          />
        </div>
        <div class="menu-items">
          <app-nav-item
            *ngFor="let category of categories"
            [mainCategory]="category"
            [currentStyle]="currentStyle"
            (routeEvent)="restartCheckedState()"
          ></app-nav-item>
        </div>
      </div>
    </div>
  </div>
</nav>
