<section class="background">
  <div class="wrapper">
    <div class="container">
      <div class="container__box">
        <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <path
            d="m20.5 3l-.16.03L15 5.1L9 3L3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1l5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z"
          />
        </svg>
        <p class="container__box__text">
          Pracuję na terenie <b>Podlasia</b> i <b>Mazur</b>.
        </p>
      </div>
      <div class="container__box">
        <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
          <path d="m22 27.18l-2.59-2.59L18 26l4 4l8-8l-1.41-1.41L22 27.18z" />
          <path
            d="M15 28H8V4h8v6a2.006 2.006 0 0 0 2 2h6v6h2v-8a.91.91 0 0 0-.3-.7l-7-7A.909.909 0 0 0 18 2H8a2.006 2.006 0 0 0-2 2v24a2.006 2.006 0 0 0 2 2h7Zm3-23.6l5.6 5.6H18Z"
          />
        </svg>
        <p class="container__box__text">
          Posiadam wszystkie niezbędne <b>pozwolenia</b> do fotografowania w
          kościele.
        </p>
      </div>
      <div class="container__box">
        <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <circle cx="12" cy="12" r="3" />
          <path
            d="M20 4h-3.17l-1.24-1.35A1.99 1.99 0 0 0 14.12 2H9.88c-.56 0-1.1.24-1.48.65L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 13c-2.76 0-5-2.24-5-5s2.24-5 5-5s5 2.24 5 5s-2.24 5-5 5z"
          />
        </svg>
        <p class="container__box__text">
          W ramach swojej pracy zajmuje się
          <b>reportażem, sesjami i plenerami</b>.
        </p>
      </div>
    </div>
  </div>
</section>
