<div class="background">
  <div class="wrapper">
    <div class="container">
      <div class="container__box">
        <ic-icon [icon]="mapIcon" color="#333" width="60" height="60"></ic-icon>
        <p class="container__box__text">
          Pracuję na terenie <b>Podlasia</b> i <b>Mazur</b>.
        </p>
      </div>
      <div class="container__box">
        <ic-icon [icon]="docIcon" color="#333" width="60" height="60"></ic-icon>
        <p class="container__box__text">
          Posiadam wszystkie niezbędne <b>pozwolenia</b> do fotografowania w
          kościele.
        </p>
      </div>
      <div class="container__box">
        <ic-icon
          [icon]="photoIcon"
          color="#333"
          width="60"
          height="60"
        ></ic-icon>
        <p class="container__box__text">
          W ramach swojej pracy zajmuje się
          <b>reportażem, sesjami i plenerami</b>.
        </p>
      </div>
    </div>
  </div>
</div>
