<app-title>Blog</app-title>
<section class="blog wrapper" [ngClass]="homePage ? 'home-page' : 'blog-page'">
  <div class="card" *ngFor="let post of posts">
    <div
      class="img"
      [style.background-image]="'url(' + post.image + ')'"
      title="{{ post.alt }}"
    ></div>
    <div class="text-box">
      <h2 class="title">{{ post.title }}</h2>
      <p class="paragraph">{{ post.paragraph }}</p>
      <button class="btn btn-reset btn-black" routerLink="{{ post.buttonURL }}">
        PRZECZYTAJ WPIS
      </button>
    </div>
  </div>
</section>
